.row
  .col-xs-2
  .col-xs-8
    button.btn.btn-default(ng-click="showRegisterBtn()") Register
    button.btn.btn-default(ng-click="showLoginBtn()") Login
  .col-xs-2


.row(ng-show="showLogin")
  .col-xs-4
  .col-xs-4
    .pannel.pannel-default
      .pannel-body
        h1 Login
        form(role='form', novalidate, name='userForm')
          .form-group
            label(for='username') username
            input.form-control#username(type='text', name='username', ng-model='user.username', autofocus, required)
          .form-group
            label(for='password') Password
            input.form-control#password(type='password', name='password', ng-model='user.password', required)
          button.btn.btn-danger(ng-click='login()') Login
  .col-xs-4


.row(ng-show="showRegister")
  .col-xs-4
  .col-xs-4
    .pannel.pannel-default
      .pannel-body
        h1 Register
        form(role='form', novalidate, name='userForm')
          .form-group
            label(for='username') username
            input.form-control#username(type='text', name='username', ng-model='user.username', autofocus, required, ng-minlength='3')
          .form-group
            label(for='password') Password
            input.form-control#password(type='password', name='password', ng-model='user.password', required, ng-minlength='3')
          button.btn.btn-danger(ng-click='register()', ng-show='userForm.$valid') Register
  .col-xs-4