nav.navbar.navbar-default(ng-controller='navController')
  .container
    .navbar-header
      a.navbar-brand(href='/') Angular todo
    ul.nav.navbar-nav.navbar-right(ng-show='!rootUser')
      li 
        a(href='/authenticate') Register/Log In 
    ul.nav.navbar-nav.navbar-right(ng-show='rootUser')
      li 
        a(href='/list') Show Todos
      li
        a(href='/todo') Add
      li
        a.button.btn.btn-success(ng-click='logout()') x {{rootUser}}