nav.navbar.navbar-default
  .container
    .navbar-header
      a.navbar-brand(href='/') Angular todo
    ul.nav.navbar-nav.navbar-right
      li 
        a(href='/authenticate') Register/Log In 
      li 
        a(href='/todo') Todos