h1 My Todos
.row
  h3 Create a task
  form#todoForm
    input(type='hidden', name='db_id')
    .form-group
      label Title:
      input#todoTitle(type='text', name='title')
    .form-group
      label Description:
      textarea#todoDescription(name='description')
    .form-group
      label Priority:
      input#todoPriority(type='text', name='priority')
    .form-group
      label Complete by:
      input#todoDuedate(type='text', name='due_date', )
    .form-group
      label Completed:
      input#todoDone(type='checkbox', name='complete')
    button.btn.btn-success.btn-large(ng-click='submit()') Add Todo